<a href="/">← Return to feed list</a>

<h1>User profile</h1>

    <h2>Info</h2>

    <p>Email: <span>{{_locals.session.currentUser.email}}</span></p>

    <h2>Settings</h2>

    <div class="settings-feed-reader-group"></div>
        <form method="POST" action="/auth/user-profile/">

            <label>Feed Reader: Group</label>
            <div>
                <input type="radio" name="settingsGroup" id="settingsGroupTrue" value="on" {{#if _locals.session.currentUser.settings.group}}checked{{/if}}>
                <label for="settingsGroupTrue">Group by feed</label>
            </div>
            <div>
                <input type="radio" name="settingsGroup" id="settingsGroupFalse" value="off" {{#unless _locals.session.currentUser.settings.group}}checked{{/unless}}>
                <label for="settingsGroupFalse">Do not group feeds</label>
            </div>

            <label>Feed Reader: Order</label>
            <div>
                <input type="radio" name="settingsOrder" id="settingsOrderAsc" value=1 {{#if (eqStrict _locals.session.currentUser.settings.order 1)}}checked{{/if}}>
                <label for="settingsOrderAsc">Dates ascending</label>
            </div>
            <div>
                <input type="radio" name="settingsOrder" id="settingsOrderDesc" value=-1 {{#if (eqStrict _locals.session.currentUser.settings.order -1)}}checked{{/if}}>
                <label for="settingsOrderDesc">Dates Descending</label>
            </div>

            <button type="submit"> Save Settings </button>
        </form>
    </div>

{{#if feeds}}
    <h2>My Feeds</h2>
    <a href="/feeds/create">Add a new Feed</a>
    <br>
    <div id="user-feed-list">
        {{#each feeds}}
            <div>
                {{#if faviconUrl}}
                    <img src="{{faviconUrl}}" alt="{{title}} favicon">
                {{/if}}
                <span>{{title}} - {{url}}</span>
                <a href="/feeds/edit/{{_id}}">Edit</a>
                <form method ="POST" action="/feeds/delete/{{_id}}">
                    <button class="link" type="submit"> Delete </button>
                </form>
            </div>
        {{/each}}
    </div>
{{else}}
    <h2>No Feeds</h2>
    <a href="/feeds/create">Add Feed</a>
{{/if}}