<header>
    <a href="/">← Return to the feed list</a>
    <span><strong>User profile</strong></span>
    <a href="/auth/logout">Logout from {{_locals.session.currentUser.email}}</a>
</header>
    <h2>Settings</h2>

    <div id="settings-feed-reader-group">
        <form method="POST" action="/auth/user-profile/">

            <div>
                <span>Display Mode:</span>
                <input type="radio" name="settingsGroup" id="settingsGroupTrue" value="on" {{#if _locals.session.currentUser.settings.group}}checked{{/if}}>
                <label for="settingsGroupTrue">Grouped by feeds</label>
                <input type="radio" name="settingsGroup" id="settingsGroupFalse" value="off" {{#unless _locals.session.currentUser.settings.group}}checked{{/unless}}>
                <label for="settingsGroupFalse">All in an aggregated feed</label>
            </div>

            <div>
                <span>Display Order:</span>
                <input type="radio" name="settingsOrder" id="settingsOrderAsc" value=1 {{#if (eqStrict _locals.session.currentUser.settings.order 1)}}checked{{/if}}>
                <label for="settingsOrderAsc">Oldest first</label>
                <input type="radio" name="settingsOrder" id="settingsOrderDesc" value=-1 {{#if (eqStrict _locals.session.currentUser.settings.order -1)}}checked{{/if}}>
                <label for="settingsOrderDesc">Newest first</label>
            </div>

            <button type="submit"> Save Settings </button>
        </form>
    </div>

    <h2 class="display-inline">My Feeds - </h2> 
    <a href="/feeds/create" class="big-link">Add a new Feed</a>
    <br>
{{#if feeds}}
    <div id="user-feed-list">
        {{#each feeds}}
            <div class="feed-config">
                {{#if faviconUrl}}
                    <img src="{{faviconUrl}}" alt="{{title}} favicon">
                {{/if}}
                <div>
                    <span>{{title}}</span>
                    <span>{{url}}</span>
                    <div>
                        <a href="/feeds/edit/{{_id}}">Edit</a> / 
                        <form method ="POST" action="/feeds/delete/{{_id}}">
                            <button class="link" type="submit"> Delete </button>
                        </form>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
{{else}}
    <div id="list-empty">
        <p>No Feeds. Please <a href="/feeds/create">add one.</a></p>
        
        <img src="https://64.media.tumblr.com/8f693802386c5aed5a1488949bfcafaa/tumblr_mlp8g6qtfm1qj2pybo1_400.gifv" alt="no feeds">
    </div>
{{/if}}