<a href="/">← Return to feed list</a>

<h1>User profile</h1>

<p>Email: <span>{{_locals.session.currentUser.email}}</span></p>

<a href="/feeds/create">Add Feed</a>

{{#if feeds}}
    <h2>My Feeds</h2>
        {{#each feeds}}
            {{#if faviconUrl}}
                <img src="{{faviconUrl}}" alt="{{title}} favicon">
            {{/if}}
            <span>{{title}} - {{url}}</span>
            <a href="/feeds/edit/{{_id}}">Edit</a>
            <form method ="POST" action="/feeds/delete/{{_id}}">
                <button type="submit"> Delete </button>
            </form>
        {{/each}}
{{else}}
    <h2>No Feeds</h2>
{{/if}}