{{#each this.feeds}}
    <div id="{{this.id}}"> {{!-- {{#if ../_locals.session.currentUser.settings.group}} id === "all-feeds-items" --}}
        <h2>
            {{#if faviconUrl}}
                <img src="{{faviconUrl}}" alt="{{title}} favicon">
            {{/if}}
            {{title}} (<span>{{items.length}}</span>) |
            <form method="POST" action="/feeds/edit/reset-read-date/{{this.id}}"> 
                <button type="submit"> Reset read date </button>
            </form>
        </h2>
        <ul>
        {{#each items}}
            <li data-index={{@index}}>
                <span>[
                    <a onclick="(() => patchFeedReadDate('{{feedId}}','{{isoDate}}','{{@index}}'))()" 
                    href="javascript:void(0);" title="Remove all items older than this one (this one included)">
                        {{formatedDate}}</a>
                     | 
                    <a onclick="(() => addToReadList('{{title}}','{{link}}', '{{../id}}'))()" 
                    href="javascript:void(0);" title="Add to the reading list">
                        📑</a> ]
                </span>
                <span>
                    <a href="{{link}}" target="_blank">
                        {{#if faviconUrl}}
                            <img src="{{faviconUrl}}" alt="{{title}} favicon">
                        {{/if}}
                        {{!-- use path segment to reference the parent template scope --}}
                        {{!-- {{#unless ../../_locals.session.currentUser.settings.group}}{{feedTitle}} - {{/unless}}{{title}} --}}
                        {{!-- ot use absolute path --}}
                        {{title}}</a>
                        {{#if invidiousLink}}
                            <a href="{{invidiousLink}}" target="_blank" title="Watch on Invidious (privacy friendly!)">
                                <img src="/images/invidious.png" alt="{{title}} on invidious">
                            </a>
                        {{/if}}
                        <span class="feed-name">
                        {{#unless @root._locals.session.currentUser.settings.group}}
                            - {{feedTitle}}
                        {{/unless}}
                    </span>
                </span>
            </li>
        {{/each}}
        </ul>
    </div>
{{else}}
    <p>All feeds with error 😥</p>
{{/each}}

{{#if this.feedsInError}}
    <div>
        <h3>Feeds with error</h3>
        <ul>
        {{#each this.feedsInError}}
            <li>
                {{url}}
                <br/>
                {{errorMessage}}
            </li>
        {{/each}}
        </ul>
        
    </div>
{{/if}}