{{#each this.feeds}}
    <h2>
        {{#if faviconUrl}}
            <img src="{{faviconUrl}}" alt="{{title}} favicon">
        {{/if}}
        {{title}} ({{items.length}})
    </h2>
        <ul>
        {{#each items}}
            <li>
                <span>[
                    <a onclick="(() => patchFeedReadDate('{{feedId}}','{{isoDate}}'))()" 
                    href="javascript:void(0);">
                        {{formatedDate}}</a>
                     | 
                    <a onclick="(() => addToReadList('{{title}}','{{id}}'))()" 
                    href="javascript:void(0);" >
                        📑</a> ]
                </span>
                <span>
                    <a href="{{link}}" target="_blank">
                        {{#if faviconUrl}}
                            <img src="{{faviconUrl}}" alt="{{title}} favicon">
                        {{/if}}
                        {{!-- use path segment to reference the parent template scope --}}
                        {{!-- {{#unless ../../_locals.session.currentUser.settings.group}}{{feedTitle}} - {{/unless}}{{title}} --}}
                        {{!-- ot use absolute path --}}
                        {{title}}</a>
                    <span class="feed-name">
                        {{#unless @root._locals.session.currentUser.settings.group}}
                            - {{feedTitle}}
                        {{/unless}}
                    </span>
                </span>
            </li>
        {{/each}}
        </ul>
{{else}}
    <p>All feeds with error 😥</p>
{{/each}}

{{#if this.feedsInError}}
    <div>
        <h3>Feeds with error</h3>
        <ul>
        {{#each this.feedsInError}}
            <li>
                {{url}}
                <br/>
                {{errorMessage}}
            </li>
        {{/each}}
        </ul>
        
    </div>
{{/if}}