
{{!-- {{log "feedContent" this}} --}}


{{#each this.feeds}}

    <h2>{{title}} ({{items.length}})</h2>
        <ul>
        {{#each items}}
            <li>
                <span>[{{formatedDate}} | <a  onclick="(() => addToReadList('{{title}}',
                     '{{id}}'))()" href="javascript:void(0);" >📑</a>]</span>
                <span><a href="{{id}}" target="_blank">{{title}}</a></span>
            </li>
        {{/each}}
        </ul>
{{else}}
    <span>No feeds configured. Please add one.</span>
{{/each}}

{{#if this.feedsInError}}

<div>
    <span>Feeds in error</span>
    <ul>
    {{#each this.feedsInError}}
        <li> {{url}}: {{errorMessage}}</li>
    {{/each}}
    </ul>
</div>
{{/if}}