<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  </head>

  <body>

    {{!-- {{#noop}}{{{body}}}{{/noop}} --}}
    {{!-- 
    helpers takes precedence over fields defined in the context,
    so if there is a noop field in the current context (this), it will be masked by the helper; 
    use a path reference to reference it on the context object:
    {{./noop}}
    --}}
    {{!-- {{#noop}}{{foo}}{{/noop}} --}}
    {{!--
    {{#ifAreEqual 1 1}}equal{{else}}different{{/ifAreEqual}}
    {{#ifAreEqual 1 0}}equal{{else}}different{{/ifAreEqual}}
    --}}
    {{!--
    {{#if (eqStrict 1 1)}}equal{{else}}different{{/if}}
    {{#if (eqStrict 1 O)}}equal{{else}}different{{/if}}
    {{#if (eqLoose 1 "1")}}equal{{else}}different{{/if}}
    --}}

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>