<h1>Edit Feed</h1>

<form method="POST" action="/feeds/edit/{{feed._id}}">
    <label>
        Title: 
        <input type="text" name="title" value="{{feed.title}}">
    </label>
    <label>
        Url: 
        <input type="url" name="url" value="{{feed.url}}">
    </label>
    <label>
        Favicon Url: 
        <input type="url" name="faviconUrl" value="{{feed.faviconUrl}}" id="faviconUrl">
        {{!-- Favicon preview: <img id="faviconImg" src="{{feed.faviconUrl}}" alt="<feed favicon>"> --}}
    </label>
    <button type="submit"> Save </button>
</form>